#tour  img{
	width: 50%;
	border: 5px solid;
 align-items: center;
 justify-items: center;
 padding: 50px;
margin: 50px;
}
#tour {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
   
   }

   #text
   {
	   color: rgb(163, 55, 55);
	   text-align: center;
   }